

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container header  {
  background-color: #1A161F;
  z-index: 15;
  /* position:absolute; */
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ffea00 #000000;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #adadad1a;
}

*::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  /* border-radius: 4px; */
  border: 3px solid #000000;
}

.container {
  display: none;
}

.container.active{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.backImage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



.blurry-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blurry-image.active {
  filter: blur(5px);

}


.panelContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

.deactive {
  display: none;
}

.form {
  box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #171717;
  width: 251px;
  height: 354px;
  border-radius: 25px;
  text-align: center;
  padding-inline: 20px;
  gap: 10px;
  /* width: 285px; */
  height: 370px;
  
}



.form:hover {
  transform: scale(1.1);
}


.text {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 32px;
  font-size: 18px;
}

.detailmsg {
  text-align: center;
  color: rgb(255, 231, 13);
  font-size: 10px;
}

.text.changer {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 16px;
  font-size: 18px;
}


.input-name {
  align-items: center;
  border-radius: 25px;

  color: rgb(255, 255, 255);
  padding: 9px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  background-color: #171717;
  gap: 0.6em;
  margin-bottom: 8px;
  border-bottom-color: yellow;
  border-right-color:yellow;
}

.input-name:hover {
  border-color: yellow;
}

.input-password {
  align-items: center;
  border-radius: 25px;
  padding: 9px;
  color: white;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  background-color: #171717;
  gap: 0.6em;
  margin-bottom: 8px;
  border-bottom-color: yellow;
  border-right-color:yellow; 
}

.input-phone {
  display: none;
  align-items: center;
  border-radius: 25px;
  color: white;
  padding: 9px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  background-color: #171717;
  gap: 0.6em;
  margin-bottom: 8px;
  border-bottom-color: yellow;
  border-right-color:yellow; 
}

.input-phone.active {
  display: inline;
}

.input-phone:hover {
  border-color: yellow;
} 

.input-password:hover {
  border-color: yellow;
} 
.buttons {
 display: flex;
 justify-content: center;
 margin-top: 35px;
 gap: 5px;
}

.login-btn {
  padding: 6px 25px;
  color: rgb(255, 255, 255);
  background-color: #252525;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  transition: 600ms;
  background-color: yellow;
  color: #171717;
}

.login-all {
  margin-block: 30px;

}
.signup-btn {
  padding: 6px 25px;
  color: rgb(255, 255, 255);
  background-color: #252525;
  border: none;
  border-radius: 5px;
}

.signup-btn:hover {
  transition: 600ms;

  background-color: yellow;
  color: #171717;
}

.forgot-passwordBtn {
  padding: 6px 43px;
  border-radius: 5px;
  background-color: #252525;
  border: none;
  color: rgb(255, 255, 255);
  margin-block: 8px;
  
} 

.forgot-passwordBtn:hover {
  transition: 600ms;

  background-color: yellow;
  color: #171717;
}

input:focus{
  outline:none;
}

.warn {
  background-color: #ffe500;
  animation: warn 0.7s ease 0s 1 normal forwards;
}

.input-phone.active {
  display: inline;
}

@keyframes warn {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-9px);
	}

	20%,
	40%,
	60% {
		transform: translateX(19px);
	}

	80% {
		transform: translateX(7px);
	}

	90% {
		transform: translateX(-7px);
	}
}

.movieDiv {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftMenu, .centerMovie, .rightMovie {
  background-color: #1A161F;
  flex: 1;
  height: 100%;
}

.centerMovie {
  flex: 8;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}

.upper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.upperMovie {
  /* width: 1000px; */
  display: flex;
  flex-direction: row;
  gap: 16px;
  z-index: 1;
  align-items: center;
  overflow: hidden;
}

.upperMovie img {
    margin-top: 10px;
}

.lower {
  min-height: 370px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lowerMovie {
  display: flex;
  gap: 16px;
  z-index: 1;
  overflow: hidden;
  max-width: 990px;
}


.centerMovie header {
  text-align: center;
  color: aliceblue;
  background-color: transparent;
  margin-bottom: 10px;
}

.leftMenu {
  
  flex: 2;
  z-index: 3;
}

.rightMovie {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  flex: 3;
  text-align: center;
  margin: auto;
  overflow:scroll;
  overflow-x: hidden; 
  align-items: center;
  z-index: 3;
}



.rightMovie header {
  text-align: center;
  color: aliceblue;
}

.upComing img:hover {
  transform: scale(1.015);
}

.upComing img {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.212);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.315);
  border: 3px solid black;
  object-fit:cover;
  border-radius: 4px;
  width:  300px;
  height: 150px;
  transition: 400ms;
}

.movie {
  margin-bottom: 20px;
}

.upperMovie img {
  border: 3px solid black;
  object-fit:cover;
  border-radius: 14px;
  width:  400px;
  height: 200px;
  transition: 400ms;
}

.lowerMovie img {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 3px solid black;
  border-radius: 4px;
  width:  150px;
  height: 250px;
  transition: 400ms;
}

.title {
  max-width: 290px;

}

.title h2,h5{
  text-align: left;
  margin: 0;
}

.title h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}
.title h5 {
  /* color: rgb(48, 48, 48); */
  color: rgb(29 169 183);
  font-family: sans-serif;
}

/* loader  */

.rightMovie .custom-loader {
  top: 400px;
  right: 150px;
  position: absolute;
  width: 50px;
  height: 50px;
  display: grid;
}

.centerMovie .custom-loader {
  margin-left: 450px;
  margin-top: 75px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: grid;
}

.centerMovie .lower .custom-loader {
  margin-top: 100px;
}



.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#1692f8 92%,rgba(179, 53, 53, 0));
  background: var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2 {
 
  100% {
    transform: rotate(.5turn)
  }
}

.inside {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  margin-bottom: -210px;
  align-items: center;
  backdrop-filter: blur(0.8px);
  width: 100%;
  height: 210px;
  gap: 25px;
}

.inside img {
  margin-left: 15px;
  border: none;
  object-fit: cover;
  width: 100px;
  height: 150px;
}

.inside .info {
  text-shadow: 2px 2px 3px black, 0 0 6em black, 0 0 0.6em black;
  max-width: 260px;
  color: #ffffff;
  
}

.inside .info h5 {
  font-family: Arial, Helvetica, sans-serif;
  /* text-transform: uppercase; */
  /* color: transparent; */
}

.inside .info p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.info h5  {
  color: yellow;
  font-family: sans-serif;
}

/* header */

.movie-header {
  display: flex;
  justify-content: space-between;
  margin-inline: 50px;
  margin-block: 10px;
  font-size: 20px;
}

.header-link {
  text-decoration: none;
  display: flex;
  position: absolute;
  margin-inline: 300px;
  justify-content: center;
   gap: 12px;
}

.header-link a {
   text-decoration: none;
   color: #EEEE;
}

.header-main {
  background-color: #1A161F;
}

.movie-headerlogo {
  font-size: 25px;
  color: white;
}

/* left Menu */
*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between; */
  /* border-right: 3px solid #b9b9b91a; */
}

.leftMenu a {
  text-decoration: none;
  font-size: 23px;
  padding-left: 10px;
  position: relative;
  text-decoration: none;
  color: #a0a0a0;
}

a:hover{
  transform: scale(1.05);
  color: #fff;
}

a:hover:after{
  width: 100%;
}

.menuLine a{
  margin-left: 10px;
}

.menuLine img {
  margin-left: 10px;
}

.menuLine {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

.movie-bell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.menu {
  margin-top: 150px;
  align-items: center;
  max-width: 220px;
  flex: 95%;
  text-align: left;
  gap: 4px;
  justify-content: center;
}

.menu img {
  width:16%;
}

.menu h4 {
  color: #a0a0a0;
  padding-left: 68px;
  padding-bottom: 30px;
  font-size: 30px;
}

.profile {
  flex: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 80px;
  color: #a0a0a0;
}

.profile img {
  width: 48px;
}

.menuLine input {
  padding: 6px 8px 6px 8px;
  border-radius: 12px;
  width: 140px;
  border: 1px solid yellow;
  background-color: #171717;
  color: white;

}
/* left Menu */

.title {
  position: relative;
  width: 425px;
}

.title .active{
  text-align: center;
  padding: 12px;
  border-radius: 12px;

  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 25px;
  left: 10px;
  color: rgb(0, 174, 255);
  font-size: 10px;
  max-width: 100%;
}

.scrollBtn {
  margin-left: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 99;
  top: 535px;
  bottom: 130px;
  width: 870px;
}

.scrollBtn button{
  padding: 12px;
  font-size: large;
  /* width: 100px; */
  background-color: #d8d8d8d3;
  border-radius: 48px;
  border: none;
}

.scrollBtn button:hover {
  transform: scale(1.2);
}

.scrollBtn .leftScroll {
  position: absolute;
  /* right: -100px; */
}

.scrollBtn .rightScroll {
  position: absolute;
  right: -100px;
}

.searchDialog {
  z-index: 9;
  border: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(1px);
  width: 100%;
  margin: 0;
  height: 100%;
  border-radius: 16px;

}

.dialogContainer {
  z-index: 10;
  min-width: 500px;
  min-height: 270px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 16px;

}

.dialogBackimg img{
  z-index: 10;

  position: absolute;
  /* object-fit: cover; */
  border-radius: 16px;
}

.poster {
  z-index: 10;

  margin-top: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 4px;
}

.poster img {
  z-index: 10;

  margin: 8px;
  width: 150px;
  border-radius: 12px;
}

.buy {
  z-index: 10;

  position: absolute;
  padding: 8px;
  background-color: #ffe500;
  border-radius: 8px;
  border: none;
  width: 320px;
  bottom: 7px;
  transition:  250ms;
}
.buy:hover {
  transform: scale(1.03);
  background-color: rgb(0, 167, 0);
}

.dialogInfo {
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 12px;
}

.dialogClose {
  z-index: 999999;
  display: flex;
  position: absolute;
  right: 5px;
  top: 15px;
}
.dialogClose p {
  cursor: pointer;
}
.dialogClose p:hover {
  transform: scale(1.1);
}

.dialogTitle {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(255, 252, 252), 0 0 1em rgb(255, 255, 255), 0 0 0.6em rgb(252, 252, 252);
}

.dialogOverview {
  color:#ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.6em black;

}

.changePassword {
  background-color: #ffe500;
  padding: 4px 16px 4px 16px;
  width: 150px;
  border: none;
  border-radius: 8px;
}

.deleteAccount {
  background-color: #ff0000;
  padding: 4px 16px 4px 16px;
  border: none;
  width: 150px;
  border-radius: 8px;
}

.deleteAccount:hover {
  transform: scale(1.05);
}

.changePassword:hover {
  transform: scale(1.05);
}

